<html lang="en">
  <head>
    <title>SmartChords</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div id="main">
      <div class="header jumbotron jumbotron-fluid">
        <div class="container">
          <h1 style="color: white;" class="display-4">SmartChords</h1>
        </div>
      </div>
<!-- end header -->
      <div class="container" style="margin-top:30px">
        <div class="row" style="padding-left: 0px;">
          <nav class="col-sm-3">
            <ul class="nav flex-column list-group">
              <a href="{{ url_for('index') }}">
                <li class="nav-item list-group-item list-group-item-action">Home</li>
              </a>
              <a href="{{ url_for('contact') }}">
                <li class="nav-item list-group-item list-group-item-action">Contact Us</li>
              </a>
              <a href="{{ url_for('help') }}">
                <li class="nav-item list-group-item list-group-item-action">Help/FAQ</li>
              </a>
            </ul>
            <ul id="download-link-option" class="nav flex-column list-group download-link" style="display:none;">
              <a href="{{ url_for('display_download', download=download) }}" download>
                <li class="nav-item list-group-item list-group-item-action">
                Download File Here</li>
              </a>
            </ul>
          </nav>
          <!-- end navbar -->

          {% block content %}
          {% endblock %}


        </div> <!-- end body row -->
      </div>  <!-- end body container -->
    </div>   <!-- end main -->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
     <script src="{{ url_for('static', filename='js/main.js') }}"> </script>

    <div id="footer" class="text-center text-muted">
      <div class="pb-3 pt-4">
        <hr id="footer_hr">
      	<span class="pr-3">SmartChords&copy;2020</span><span>|</span><span class="pl-3"><a href="mailto:contact@smartchords.com?subject=Feedback">Send Feedback</a></span>
      </div>
    </div>
  </body>
</html>
